:root {
  --background-color: rgb(24, 24, 24);
  --text-color: rgb(255, 255, 255);
  --border-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "BeVietnam", sans-serif;
  font-size: 75%;
}

.main {
  height: 100vh;
  box-sizing: border-box;
}

/* header */
.main .header {
  display: flex;
  justify-content: center;
  min-height: 190px;
  background-color: var(--background-color);
  border-bottom: 3px solid var(--border-color);
}

.main .header .item {
  display: flex;
}

.main .header .item .icon {
  width: 140px;
  height: 140px;
  margin: auto;
}

#logo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
}

.main .header .item .text {
  margin: auto 0 auto 35px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.main .header .item .text .title {
  font-weight: 700;
  font-size: 30px;
}

.main .header .item .text .des {
  margin-top: 6px;
  font-size: 14px;
  margin-top: 8px;
}

/* Content */
.main .content {
}

.main .content .link {
  display: flex;
  width: 100%;
  min-height: 100px;
  background-color: var(--background-color);
  border-bottom: 3px solid var(--border-color);
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
}

.main .content .link:hover {
  opacity: 0.98;
}

.main .content .link .item {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: auto 0;
}

.main .content .link .item .icon {
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 99px;
  justify-content: center;
  border-radius: 40px;
}

.main .content .link .item .text {
  margin: auto 0 auto 16px;
  color: var(--text-color);
  word-break: break-word;
}

.main .content .link .item .text .title {
  font-weight: bold;
  font-size: 20px;
}

.main .content .link .item .text .des {
  margin-top: 6px;
  font-size: 16px;
}

#iconFB {
  margin: auto;
  color: rgb(255, 255, 255);
}

#iconMess {
  margin: auto;
  background: linear-gradient(rgb(220, 71));
}

.bg-zalo {
  background-color: rgb(255, 255, 255);
}

#logoZalo {
  width: 60px;
  height: 60px;
  margin: auto;
}

#zalo .item .icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

#zalo .item {
  max-width: 490px;
}

#zalo .item .icon {
  margin-right: 6px;
}

#mess .item .icon {
  width: 90px;
  height: 90px;
  margin-right: -8px;
}

#github{
  margin: auto;
  color: white;
}

#mess .item {
  max-width: 520px;
}

#mess .item .icon {
}

/* Footer */
.main .footer {
  display: flex;
  background-color: var(--background-color);
  padding-top: 50px;
  color: var(--text-color);
  justify-content: center;
  padding-bottom: 40px;
}

.main .footer .item {
  display: flex;
  flex-direction: column;
}

.main .footer .item .tagName {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: -3px;
  align-self: center;
}

.main .footer .item .des {
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}

#tinh {
  cursor: pointer;
  text-decoration: none;
  color: rgb(49, 208, 159);
}

@media (max-width: 1024px) and (min-width: 481px) {
  .main .footer {
    height: 22.4%;
  }
}

@media (max-width: 1336) and (min-width: 1024px) {
  .main .footer {
    height: 41.5%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .main .header .item .icon {
    width: 110px;
    height: 110px;
  }

  .main .header .item .text {
    margin-left: 20px;
  }

  .main .header .item .text .title {
    font-size: 25px;
  }

  #mess .item {
    margin-left: 8px;
  }

  #mess .item .icon {
    width: 60px;
    height: 60px;
    margin-right: -3px;
  }

  #zalo .item .icon {
    width: 43px;
    height: 43px;
    margin-right: 5px;
    border-radius: 8px;
  }

  #zalo .item {
    margin-left: 18px;
  }

  #logoZalo {
    width: 43px;
    height: 43px;
    border-radius: 8px;
  }

  .main .content .link .item {
    margin-left: 16px;
  }

  .main .content .link .item .icon {
    width: 50px;
    height: 50px;
  }

  #facebook .item {
    margin-left: 12px;
  }

  #facebook .item .text {
    margin-left: 16px;
  }

  #github{
    margin: auto;
    color: white;
    font-size: 35px;
  }
}
